<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/1094/1094675.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Cookbook
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (input)="recuperaEvento($event)">
    </form>
  </div>
</nav>
<div class="container">
  <div class="wrapper">
    <div class="item" *ngFor="let comida of comidas">
      <div routerLink='/receita/{{comida.strMeal}}'>
        <div class="polaroid"><img src={{comida.strMealThumb}}>
          <div class="caption">{{comida.strMeal}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

